﻿@model VisitDetailedViewModel
@{
    var visit = Model;
    var services = Model.Services;
    var fromCurrency = Model.Currency;
    var visitId = visit.Id;
}


@*<head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script type="text/javascript">var input = document.getElementById("textFieldTextJS").value;</script>
        <asp:HiddenField ID="example" runat="server" />
    </head>*@



@*<div class="col-md-4">
        <form asp-action="DetailedReport">
            <div class="form-group">
                <input asp-for="ReportCurrency" placeholder="Currency" />
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>*@

<div style="margin:20px;">
    <h1 style="font-size:1.50em; margin: 25px;"> Detailed report for customer visit as of Date @DateTime.Now.ToString("dd-MMM-yyyy hh:mm") </h1>


    <table class="table table-striped table-dark customer-visit-report-table" id="report-table">
        <thead>
            <tr>
                <td width="27%">
                    Customer Details:
                </td>
                <td>
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                Customer Name
            </td>
            <td>
                @visit.CustomerName
            </td>
        </tr>
        <thead>
            <tr>
                <td>
                    Vehicle Details:
                </td>
                <td>
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                Make and Model

            </td>
            <td>
                @visit.VehicleMakeModel
            </td>
        </tr>
        <tr>
            <td>
                Registration
            </td>
            <td>
                @visit.RegistrationPlate
            </td>
        </tr>
        <thead>
            <tr>
                <td>
                    Visit Details:
                </td>
                <td>
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                Arrival Date
            </td>
            <td>
                @visit.ArrivalDate
            </td>
        </tr>
        <tr>
            <td>
                Orders currency
            </td>
            <td>
                @visit.Currency
            </td>
        </tr>
        <tr>
            <td>
                Ready Date
            </td>
            <td>
                @visit.ReadyDate
            </td>
        </tr>
        <tr>
            <td>
                Total Price in Base Currency
            </td>
            <td id="total-price">
                @visit.TotalPrice
            </td>
        </tr>
        <tr>
            <td>
                Base Currency
            </td>
            <td id="from-currency" value="@visit.Currency">
                @visit.Currency
            </td>
        </tr>

    </table>
    <table class="table table-striped table-dark customer-visit-report-table">
        <thead>
            <tr>
                <td>
                    Services Breakdown:
                </td>
                <td>
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                Service
            </td>
            <td>
                Status
            </td>
            <td>
                Ready Date
            </td>
            <td>
                Price
            </td>
        </tr>

        @foreach (var service in services)
        {
            <tr>
                <td>
                    @service.ServiceItem
                </td>
                <td>
                    @service.Status
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @service.ProgressBarPercent%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">@service.ProgressBarPercent%</div>
                    </div>
                </td>
                <td>
                    @service.ReadyDate
                </td>
                <td>
                    @service.Price @service.Currency
                </td>
            </tr>
        }

    </table>

    <div style="display:flex;">
        <form style="margin:25px" asp-controller="Home" asp-action="Index">
            <button type="submit" class="btn btn-primary btn-lg">
                Back To Index
            </button>
        </form>

        <form method="post" style="margin:25px" asp-controller="MyVisits" asp-action="PDFproviderBGN" asp-route-id="@visit.Id">
            <input type="hidden" id="forexCurrency" name="forexCurrency" />
            <input type="hidden" id="forexPrice" name="forexPrice" />
            <button class="btn btn-primary btn-lg" type="submit" name="conversionRate">
                Download .PDF
            </button>
        </form>

    </div>
</div>

@section Scripts{
    <script src="~/js/forex.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

}
