﻿@model VisitDetailedViewModel
@{
    var visit = Model;
    var services = Model.Services;
}

@{ 
    Layout = null;
}

<style>
    header, footer{
        display:none !important;
    }
    body{
        height:90%
    }

</style>


<img src="~/images/logo.png"/>
<div>
    </br>
    </br>
    </br>
    </br>
    <h1>EZGarage LTD</h1>
    <h1>ul. Moskovska 42</h1>
    <h1>1000 Sofia, Bulgaria</h1>
    <h1>+888424242</h1>
    <h1>ezgaragecustomerservice@gmail.com</h1><br /><br />
    <h2>Detailed Report for Customer Visit</h2>
    <h3>Date: @DateTime.Now.ToString("dd-MMM-yyyy hh:mm tt")</h3>
</div>
<div style="margin:20px;">

    <table class="table table-striped table-dark customer-visit-report-table">
        <thead>
            <tr>
                <td width="27%">
                    Customer Details:
                </td>
                <td>
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                Customer Name
            </td>
            <td>
                @visit.CustomerName
            </td>
        </tr>
        <thead>
            <tr>
                <td>
                    Vehicle Details:
                </td>
                <td>
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                Make and Model

            </td>
            <td>
                @visit.VehicleMakeModel
            </td>
        </tr>
        <tr>
            <td>
                Registration
            </td>
            <td>
                @visit.RegistrationPlate
            </td>
        </tr>
        <thead>
            <tr>
                <td>
                    Visit Details:
                </td>
                <td>
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                Arrival Date
            </td>
            <td>
                @visit.ArrivalDate
            </td>
        </tr>
        <tr>
            <td>
                Ready Date
            </td>
            <td>
                @visit.ReadyDate
            </td>
        </tr>
        <tr>
            <td>
                Base Services Currency
            </td>
            <td>
                @visit.Currency
            </td>
        </tr>
        <tr>
            <td>
                Total Price in BGN
            </td>
            <td>
                @visit.TotalPrice
            </td>
        </tr>
        <tr>
            <td>Report Currency</td>
            <td>@visit.ReportCurrency</td>
        </tr>
        <tr>
            <td>Total Price in Report Currency</td>
            <td>@visit.ReportCurrencyPrice</td>
        </tr>
    </table>
    <table class="table table-striped table-dark customer-visit-report-table">
        <thead>
            <tr>
                <td>
                    Services Breakdown:
                </td>
                <td>
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                Service
            </td>
            <td>
                Status
            </td>
            <td>
                Ready Date
            </td>
            <td>
                Price
            </td>
        </tr>

        @foreach (var service in services)
        {
            <tr>
                <td>
                    @service.ServiceItem
                </td>
                <td>
                    @service.Status
                    <div >
                        @service.ProgressBarPercent%
                    </div>
                </td>
                <td>
                    @service.ReadyDate
                </td>
                <td>
                    @service.Price @service.Currency
                </td>
            </tr>
        }

    </table>
</div>

<h3>Please, only print if necessary. A digital copy is also valid for reference purposes.</h3>