﻿@model MyVisitsIndexViewModel
@{
    var customer = Model.Customer;
    var customerVisits = Model.Visits.OrderBy(vi => Convert.ToDateTime(vi.ArrivalDate));
}

<link rel="stylesheet" href="~/css/search.css" type="text/css" />

<style>
    .container-all {
        margin-bottom: 5%;
        margin-top: 5%;
    }
</style>


<div class="container-all">
    <h1 style="font-size:1.25rem; margin: 25px;"> List of visits of @customer.Name (latest first): </h1>

    @{
        foreach (var visit in Model.Visits)
        {
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th style="width:33%;">Visiting Vehicle</th>
                        <th>Number of Services</th>
                        <th>Arrival Date</th>
                        <th>Ready Date</th>
                        @*<th>Total Price</th>
                            <th>Currency</th>
                            <td>View Detailed Report</td>*@
                    </tr>
                </thead>
                <tr>
                    <td>
                        @visit.VehicleMakeModel
                    </td>
                    <td>
                        @visit.Services.Count()
                    </td>
                    <td>
                        @visit.ArrivalDate
                    </td>
                    <td>
                        @visit.ReadyDate
                    </td>
                </tr>
                <tr>
                    <td><h6><br /></h6></td>

                </tr>
                <thead>
                    <tr>
                        <th>
                            Services Ordered
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Ready Date
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                </thead>
                @foreach (var service in visit.Services)
                {

                    <tr>
                        <td>
                            @service.ServiceItem
                        </td>
                        <td>
                            @service.Status
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: @service.ProgressBarPercent%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">@service.ProgressBarPercent%</div>
                            </div>
                        </td>
                        <td>
                            @service.ReadyDate
                        </td>
                        <td>
                            @service.Price @service.Currency
                        </td>
                    </tr>
                }

                <thead>
                    <tr>
                        <th>
                            <form method="post" asp-controller="MyVisits" asp-action="DetailedReport" asp-route-id="@visit.Id">

                                <button type="submit" class="btn btn-primary btn-lg">
                                    View Report
                                </button>

                            </form>
                        </th>
                        @*<th>
                            <form method="post" asp-controller="MyVisits" asp-action="DetailedReportBGN" asp-route-id="@visit.Id">

                                <button type="submit" class="btn btn-primary btn-lg">
                                    View Report (BGN)
                                </button>

                            </form>
                        </th>*@
                        <th>

                        </th>
                        <th>
                            Total:
                            @visit.TotalPrice @visit.Currency
                        </th>

                    </tr>
                </thead>
            </table>
        }
    }

</div>
    <a asp-action="Index" type="btn submit" class="btn btn-primary btn-lg">
        Back To My Visits
    </a>


<script src="~/js/site.js"></script>