﻿@model MngServicesIndexVM
@{

    var services = Model.Services;

}

<link rel="stylesheet" href="~/css/search.css" type="text/css" />
<script src="~/js/site.js"></script>

<style>
    form.date-form {
        margin-bottom: 25px;
    }

        form.date-form div {
            display: flex;
        }

        form.date-form span {
            width: 22%;
            margin: 0px 15px 0px 15px;
        }

    .button-div {
        margin-left: 15px;
    }


    th:hover {
        cursor: pointer;
    }
</style>

<div>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search">

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th onclick="sortTable(0)">Customer</th>
                <th onclick="sortTable(1)">Vehicle</th>
                <th onclick="sortTable(2)">Service</th>
                <th onclick="sortTable(3)">Status</th>
                <th onclick="sortTable(4)">Arrival date</th>
                <th onclick="sortTable(5)">Ready date</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="myTableBody">
            @{
                foreach (var service in services)
                {
                    <tr>
                        <td>
                            @service.Customer
                        </td>
                        <td>
                            @service.VehicleMakeModel
                        </td>
                        <td>
                            @service.ServiceItem
                        </td>
                        <td>
                            @service.Status
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: @service.ProgressBarPercent%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">@service.ProgressBarPercent%</div>
                            </div>
                        </td>
                        <td>
                            @service.VisitArrivalDate
                        </td>
                        <td>
                            @service.ReadyDate
                        </td>
                        <td>
                            @if (service.Status.ToLower() != "ready")
                            {
                                <form method="post" asp-controller="MngServices" asp-action="Single" asp-route-id="@service.Id">
                                    <button type="submit" class="btn btn-primary" value="advance" name="action">Advance</button>
                                </form>
                            }
                        </td>

                        <td>
                            <form method="post" asp-controller="MngServices" asp-action="Single" asp-route-id="@service.Id">
                                <button type="submit" class="btn btn-danger" value="delete" name="action">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index">
            Back to Home
        </a>
    </div>
</div>

