﻿@model ServiceAndVisitVM
@{
    var service = Model.Service;
    var visit = Model.Visit;

    if (service.Action == "delete" && service.Context == "success")
    {


        <div class="alert alert-primary" role="alert">
            Service successfully deleted
        </div>
        if (visit.Services.Count() == 1)
        {
            <div class="alert alert-danger" role="alert">
                The corresponding visit has no more services. Visit ID: @visit.Id
            </div>
        }
        @*<form method="get" asp-controller="MngServices" asp-action="Index">
                <button type="submit" class="btn btn-primary">Back to services</button>
            </form>*@
    }
    else
    {


        var actionString = service.Action;
        var contextString = service.Context;


        //NOTIFICATION MESSAGE:

        if (actionString == "advance")
        {
            if (contextString == "fail")
            {
                <div class="alert alert-danger" role="alert">
                    Cannot advance this service
                </div>
            }
            else if (contextString == "success")
            {


                <div class="alert alert-primary" role="alert">
                    Service status successfully advanced
                </div>
                if (visit.Services.All(se => se.Status.ToLower() == "ready"))
                {
                    <div class="alert alert-primary" role="alert">
                        Service's visit is now complete. We can inform the client. Visit ID is @service.VisitId
                    </div>
                }
            }
            else
            {
                <div class="alert alert-primary" role="alert">
                    You are about to advance the status of this service
                </div>
            }
        }
        else if (actionString == "delete")
        {

            <div class="alert alert-danger" role="alert">
                Are you sure you want to delete this service?
            </div>
        }




        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Vehicle</th>
                    <th>Service</th>
                    <th>Status</th>
                    <th>Arrival date</th>
                    <th>Ready date</th>
                </tr>
            </thead>
            <tbody id="myTableBody">
                @{
                    <tr>
                        <td>
                            @service.Customer
                        </td>
                        <td>
                            @service.VehicleMakeModel
                        </td>
                        <td>
                            @service.ServiceItem
                        </td>
                        <td>
                            @service.Status
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: @service.ProgressBarPercent%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">@service.ProgressBarPercent%</div>
                            </div>
                        </td>
                        <td>
                            @service.VisitArrivalDate
                        </td>
                        <td>
                            @service.ReadyDate
                        </td>
                    </tr>
                }
            </tbody>
            @{ if (actionString == "advance" && string.IsNullOrEmpty(contextString))
                {
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="confirmation-button">
                                <form method="post" asp-controller="MngServices" asp-action="Advance" asp-route-id="@service.Id">
                                    <button type="submit" class="btn btn-primary" value="advance" name="action">Confirm</button>
                                </form>
                            </td>
                            @*<td>
                                    <form method="post" asp-controller="MngServices" asp-action="Index">
                                        <button type="submit" class="btn btn-light">Back to services</button>
                                    </form>
                                </td>*@
                        </tr>
                    </tfoot>
                }
                else if (actionString == "delete" && string.IsNullOrEmpty(contextString))
                {
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="confirmation-button">
                                <form method="post" asp-controller="MngServices" asp-action="Delete" asp-route-id="@service.Id">
                                    <button type="submit" class="btn btn-danger">Confirm</button>
                                </form>
                            </td>
                            @*<td>
                                    <form method="post" asp-controller="MngServices" asp-action="Index">
                                        <button type="submit" class="btn btn-light">Back to services</button>
                                    </form>
                                </td>*@
                        </tr>
                    </tfoot>
                }
                @*else
                    {
                        <tfoot>
                            <tr>
                                <td>
                                    <form method="post" asp-controller="MngServices" asp-action="Index">
                                        <button type="submit" class="btn btn-primary">Back to services</button>
                                    </form>
                                </td>
                            </tr>
                        </tfoot>
                    }*@
            }

        </table>


    }
<div>
    <a type="button" class="btn btn-primary btn-lg" asp-controller="Mngservices" asp-action="Index">
        Back to EZServices
    </a>
</div>
}