﻿@model MyVehiclesIndexViewModel
@{
    var customer = Model.Customer;
    var vehicles = Model.Vehicles;
}
<style>
    th:hover {
        cursor: pointer;
    }
</style>

<link rel="stylesheet" href="~/css/search.css" type="text/css" />

<div style="margin:20px;">

    <div style="margin:20px;">
        <h1 style="font-size:1.25rem; margin: 25px;"> List of vehicles for @customer.Name: </h1>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Model</th>
                    <th onclick="sortTable(1)">Manufacturer</th>
                    <th onclick="sortTable(2)">Type</th>
                    <th onclick="sortTable(3)">Year</th>
                    <th onclick="sortTable(4)">Reg Plate</th>
                    <th onclick="sortTable(5)">VIN</th>
                </tr>
            </thead>
            <tbody id="myTableBody">
                @{
                    foreach (var vehicle in vehicles)
                    {
                        <tr>
                            <td>
                                @vehicle.Model
                            </td>
                            <td>
                                @vehicle.Manufacturer
                            </td>
                            <td>
                                @vehicle.VehicleType
                            </td>
                            <td>
                                @vehicle.Year
                            </td>
                            <td>
                                @vehicle.RegistrationPlate
                            </td>
                            <td>
                                @vehicle.VIN
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <a asp-action="Index" type="btn submit" class="btn btn-primary btn-lg">
            Back To My Vehicles
        </a>

    </div>
</div>