﻿@model VisitAndServiceItemsVM
@{
    var visit = Model.Visit;
    var serviceItemsDB = Model.ServiceItems.ToList();
    var customer = visit.CustomerName;

    var notStarted = "1 Not Started";
    var inProgress = "2 In Progress";
    var ready = "3 Ready";

    var context = Model.Context;
    var contextMessage = Model.Message;

}

<link rel="stylesheet" href="~/css/search.css" type="text/css" />
<style>
</style>

@if (context == "fail")
{
    <div class="alert alert-danger" role="alert">
        @contextMessage
    </div>
}
else if (context == "success")
{
    <div class="alert alert-primary" role="alert">
        Visit with ID @visit.Id successfully updated
    </div>
}

<style>
    .container-all {
        margin-bottom: 5%;
        margin-top: 5%;
    }
</style>

<div class="container-all">

    @{
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>Visit ID</th>
                    <th>Vehicle ID</th>
                    <th>Visiting Vehicle</th>
                    <th>Owner ID</th>
                    <th>Owner</th>
                    <th>Number of Services</th>
                    <th>Arrival Date</th>
                    <th>Ready Date</th>
                </tr>
            </thead>
            <tr>
                <td>@visit.Id</td>
                <td>
                    @visit.VehicleId
                </td>
                <td>
                    @visit.VehicleMakeModel
                </td>
                <td>
                    @visit.CustomerId
                </td>
                <td>
                    @visit.CustomerName
                </td>
                <td>
                    @visit.Services.Count()
                </td>
                <td>
                    @visit.ArrivalDate
                </td>
                <td>
                    @visit.ReadyDate
                </td>
            </tr>
        </table>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>
                        Services Ordered
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Ready Date
                    </th>
                    <th>
                        Price
                    </th>
                </tr>
            </thead>
            @foreach (var service in visit.Services.OrderBy(se => se.ProgressBarPercent).ThenByDescending(se => se.ReadyDate))
            {

                <tr>
                    <td>
                        @service.ServiceItem
                    </td>
                    <td>
                        @service.Status
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @service.ProgressBarPercent%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">@service.ProgressBarPercent%</div>
                        </div>
                    </td>
                    <td>
                        @service.ReadyDate
                    </td>
                    <td>
                        @service.Price @service.Currency
                    </td>
                </tr>
            }
        </table>
    }

    <form id="add-service" method="post" asp-controller="MngVisits" asp-action="ServiceAdder" asp-route-id="@visit.Id">
        <table class="table table-striped table-dark result-table-multiple">
            <thead>
                <tr>
                    <th>Service item ID</th>
                    <th>Status ID</th>
                    <th>Ready date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Service item ID" name="serviceItemId">
                    </td>
                    <td class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="1, 2 or 3" name="statusId">
                    </td>
                    <td class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="01-Jan-2021" name="readyDate">
                    </td>
                    <td>
                        <button type="submit" form="add-service" class="btn btn-primary">Add Service</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Service Items
                    </th>
                    <th>
                        Statuses
                    </th>
                </tr>

                @for (var i = 0; i < serviceItemsDB.Count(); i++)
                {
                    <tr>
                        <td>
                            @serviceItemsDB[i].Id @serviceItemsDB[i].Name
                        </td>
                        <td style="display:@(i <= 2 ? "": "none")">
                            @if (i == 0)
                            {
                                @notStarted
                            }
                            else if (i == 1)
                            {
                                @inProgress
                            }
                            else if (i == 2)
                            {
                                @ready
                            }
                        </td>
                    </tr>
                }
            </tfoot>
        </table>
    </form>


    <div>
        <a class="btn btn-primary btn-lg" asp-controller="MngVisits" asp-action="Index">
            Back to EZVisits
        </a>
    </div>

</div>


<script src="~/js/site.js"></script>
