﻿@model CreateVisitVM
@{
    var visit = Model.Visit;
    var outcome = Model.Context;
    var message = Model.Message;


    if (outcome == "fail")
    {
        <div class="alert alert-danger" role="alert">
            @message
        </div>
    }
    else
    {
        <style>
            .container-all {
                margin-bottom: 5%;
                margin-top: 5%;
            }
        </style>

        <div class="container-all">

            <div class="alert alert-primary" role="alert">
                Visit with ID @visit.Id created
            </div>

            <table class="table table-striped table-dark ">

                <tr>
                    <th>Visit ID</th>
                    <th>Visiting Vehicle</th>
                    <th>Owner</th>
                    <th>Number of Services</th>
                    <th>Arrival Date</th>
                    <th>Ready Date</th>
                </tr>
                <tr>
                    <td>@visit.Id</td>
                    <td>
                        @visit.VehicleMakeModel
                    </td>
                    <td>
                        @visit.CustomerName
                    </td>
                    <td>
                        @visit.Services.Count()
                    </td>
                    <td>
                        @visit.ArrivalDate
                    </td>
                    <td>
                        @visit.ReadyDate
                    </td>
                </tr>
            </table>
            <table class="table table-striped table-dark ">
                <tr>
                    <th>
                        Services Ordered
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Ready Date
                    </th>
                    <th>
                        Price
                    </th>
                </tr>
                @foreach (var service in visit.Services)
                {

                    <tr>
                        <td>
                            @service.ServiceItem
                        </td>
                        <td>
                            @service.Status
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: @service.ProgressBarPercent%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">@service.ProgressBarPercent%</div>
                            </div>
                        </td>
                        <td>
                            @service.ReadyDate
                        </td>
                        <td>
                            @service.Price @service.Currency
                        </td>
                    </tr>
                }

                <tr>

                    <th>
                        <form method="post" asp-controller="MngVisits" asp-action="AddServices" asp-route-id="@visit.Id">

                            <button type="submit" class="btn btn-primary btn-lg">
                                Add Services to this Visit
                            </button>

                        </form>
                    </th>
                    <th>
                        <form method="post" asp-controller="MyVisits" asp-action="DetailedReport" asp-route-id="@visit.Id">

                            <button type="submit" class="btn btn-light btn-lg">
                                View Report
                            </button>

                        </form>
                    </th>
                    @*<th>
                        <form method="post" asp-controller="MyVisits" asp-action="DetailedReportBGN" asp-route-id="@visit.Id">

                            <button type="submit" class="btn btn-light btn-lg">
                                View Report (BGN)
                            </button>

                        </form>
                    </th>*@
                    <th>
                        <div>
                            Total:
                        </div>
                        <div>
                            @visit.Services.Select(se => se.Price).Sum() @visit.Currency
                        </div>
                    </th>
                </tr>
            </table>

            <div>
                <a class="btn btn-primary btn-lg" asp-controller="MngVisits" asp-action="Index">
                    Back to Visits
                </a>
            </div>
        </div>
    }
}




