﻿@model CreateNewVisitFormVM
@{
    var vehicles = Model.Vehicles.OrderBy(ve => ve.Id).ToList();
    var serviceItems = Model.ServiceItems.OrderBy(si => si.Id).ToList();
}

<style>
    th:hover {
        cursor: pointer;
    }

    fieldset {
        float: left;
    }
</style>

<link rel="stylesheet" href="~/css/search.css" type="text/css" />


<form method="post" asp-controller="MngVisits" asp-action="VisitCreator" asp-route-id="">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th onclick="sortTable(0)">Vehicle ID</th>
                <th onclick="sortTable(1)">Arrival Date</th>
                <th onclick="sortTable(2)">Service Item IDs</th>
                <th onclick="sortTable(3)">Corresponing finish dates</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Vehicle ID" name="vehicleId">
                </td>
                <td class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="01-jan-2021" name="arrivalDate">
                </td>
                <td class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="3 2 4 " name="serviceItemIds">
                </td>
                <td class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="01-Jan-2021 02-Jan-2021 04-Jan-2021" name="readyDates">
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Create Visit</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<div style="width:fit-content()">

</div>
    <input type="text" style="margin-top:5%; width:48%; float:left; margin-right:5%" id="myInput" onkeyup="myFunction()" placeholder="Search">
    <table id="1" class="table table-striped table-dark result-table-multiple" style="display:inline-block; width:48%">
        <thead >
            <tr>
                <th onclick="sortTable(0)">Vehicle ID</th>
                <th onclick="sortTable(1)">Vehicle</th>
                <th onclick="sortTable(2)">Owner ID</th>
                <th onclick="sortTable(3)">Owner</th>

            </tr>
        </thead>
        <tbody id="myTableBody">
            @for (var i = 0; i < vehicles.Count; i++)
            {
                <tr>
                    <td>@vehicles[i].Id</td>
                    <td>@vehicles[i].Model @vehicles[i].Manufacturer</td>
                    <td>@vehicles[i].CustomerId</td>
                    <td>@vehicles[i].CustomerName</td>
                </tr>
            }
        </tbody>


    </table>

    <table class="table table-striped table-dark result-table-multiple" style="float: right; width: auto;">
        <thead>
            <tr>
                <th>Serv. Item ID</th>
                <th>Service Item</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var serviceItem in serviceItems)
            {
                <tr>
                    <td>@serviceItem.Id</td>
                    <td>@serviceItem.Name</td>
                </tr>
            }
        </tbody>
    </table>

<script src="~/js/site.js"></script>
