﻿@model VisitAndServiceItemsVM
@{
    


    var context = Model.Context;
    var contextMessage = Model.Message;

    var isConfirming = context == "deleterequest";
    var isConfirmed = context == "deleteconfirm";

}

<link rel="stylesheet" href="~/css/search.css" type="text/css" />
<style>
</style>

@if (context == "deleterequest")
{
    <div class="alert alert-danger" role="alert">
        You are about to delete this visit
    </div>
}
else if (context == "deleteconfirm")
{
    <div class="alert alert-primary" role="alert">
        Visit successfully deleted
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        @contextMessage
    </div>
}

<style>
    .container-all {
        margin-bottom: 5%;
        margin-top: 5%;
    }
</style>

<div class="container-all">

    @{
        if (isConfirming)
        {

            var visit = Model.Visit;
            var serviceItemsDB = Model.ServiceItems.ToList();
            var customer = visit.CustomerName;

            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th>Visit ID</th>
                        <th>Vehicle ID</th>
                        <th>Visiting Vehicle</th>
                        <th>Owner ID</th>
                        <th>Owner</th>
                        <th>Number of Services</th>
                        <th>Arrival Date</th>
                        <th>Ready Date</th>
                    </tr>
                </thead>
                <tr>
                    <td>@visit.Id</td>
                    <td>
                        @visit.VehicleId
                    </td>
                    <td>
                        @visit.VehicleMakeModel
                    </td>
                    <td>
                        @visit.CustomerId
                    </td>
                    <td>
                        @visit.CustomerName
                    </td>
                    <td>
                        @visit.Services.Count()
                    </td>
                    <td>
                        @visit.ArrivalDate
                    </td>
                    <td>
                        @visit.ReadyDate
                    </td>
                </tr>
            </table>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th>
                            Services Ordered
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Ready Date
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                </thead>
                @foreach (var service in visit.Services.OrderBy(se => se.ProgressBarPercent).ThenByDescending(se => se.ReadyDate))
                {

                    <tr>
                        <td>
                            @service.ServiceItem
                        </td>
                        <td>
                            @service.Status
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: @service.ProgressBarPercent%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">@service.ProgressBarPercent%</div>
                            </div>
                        </td>
                        <td>
                            @service.ReadyDate
                        </td>
                        <td>
                            @service.Price @service.Currency
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        <form method="post" asp-controller="MngVisits" asp-action="Delete" asp-route-id="@visit.Id">
                            <button type="submit" class="btn btn-danger" value="deleteconfirm" name="action">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
            }
    }


    <div>
        <a class="btn btn-primary btn-lg" asp-controller="MngVisits" asp-action="Index">
            Back to EZVisits
        </a>
    </div>

</div>


<script src="~/js/site.js"></script>