﻿@model IEnumerable<VisitViewModel>
@{
    var visits = Model;
}

<style>
    .table {
        width =100%;
        border =1;
    }

    .bottom-container {
        display: flex
    }

    input {
        margin-top: 5%;
        margin-bottom: 1%;
    }


    .bottom-container {
        margin-bottom: 5%;
    }

    th:hover {
        cursor: pointer;
    }
</style>

<link rel="stylesheet" href="~/css/search.css" type="text/css" />
<script src="~/js/site.js"></script>




<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search">

<div class="container-all">

    @{
        <table class="table table-striped table-dark">

            <thead>
                <tr>
                    <th onclick="sortTable(0)">Visit ID</th>
                    <th onclick="sortTable(1)">Visiting Vehicle</th>
                    <th onclick="sortTable(2)">Owner</th>
                    <th onclick="sortTable(3)">Arrival Date</th>
                    <th onclick="sortTable(4)">Ready Date</th>
                    <th onclick="sortTable(5)">Status</th>
                </tr>
            </thead>
            <tbody id="myTableBody">
                @foreach (var visit in visits)
                {
                    <tr>
                        <td width="5%">
                            @visit.Id
                        </td>
                        <td>
                            @visit.VehicleMakeModel
                        </td>
                        <td>
                            @visit.CustomerName
                        </td>
                        <td>
                            @visit.ArrivalDate
                        </td>
                        <td>
                            @visit.DateAllDone
                        </td>

                        @{
                            if (visit.Services.All(se => se.Status.ToLower() == "ready"))
                            {
                                <td>
                                    Ready
                                </td>
                            }
                            else if (visit.Services.All(se => se.Status.ToLower() == "not started"))
                            {
                                <td>
                                    Not Started
                                </td>
                            }
                            else
                            {
                                <td>
                                    In Progress
                                </td>
                            }
                        }
                        <td>
                            <form method="post" asp-controller="MngVisits" asp-action="AddServices" asp-route-id="@visit.Id">
                                <button type="submit" class="btn btn-primary" value="advance" name="action">Add Services</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" asp-controller="MngVisits" asp-action="Single" asp-route-id="@visit.Id">
                                <button type="submit" class="btn btn-light" value="advance" name="action">Details</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" asp-controller="MngServices" asp-action="Single" asp-route-id="">
                                <button type="submit" class="btn btn-danger" value="advance" name="action">Delete</button>
                            </form>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }

</div>

<div class="bottom-container">
    <a asp-controller="mngcustomers" asp-action="Index" class="btn btn-info btn-lg">
        Back To EZCustomers
    </a>
</div>
