﻿@model EZGarage.Web.Models.VehicleViewModels.VehicleViewModel;
@{
    var models = ViewData["Model"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddVehicles</title>
</head>
<body>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddVehicle">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="RegistrationPlate" class="control-label">Registration Plate</label>
                    <input asp-for="RegistrationPlate" class="form-control" placeholder="Registration Plate" />
                    <span asp-validation-for="RegistrationPlate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VIN" class="control-label">Vehicle Identity Number</label>
                    <input asp-for="VIN" class="form-control" placeholder="VIN" />
                    <span asp-validation-for="VIN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ManufacturerId" class="control-label">Manufacturer</label>
                    <select asp-for="ManufacturerId" class="form-control select2" asp-items="@Model.Manufacturers" id="Make" placeholder="Manufacturer">
                        <option selected disabled>Select Manufacturer</option>
                    </select>
                    <span asp-validation-for="ManufacturerId" class="text-danger" id="makeSpan"></span>
                    <a asp-controller="mngvehicles" asp-action="index" class="btn-link" id="newMake">Create New</a>
                </div>
                <div class="form-group">
                    <label asp-for="ModelId" class="control-label">Model</label>
                    <select asp-for="ModelId" class="form-control select2" asp-items="@Model.Models" id="Model" placeholder="Manufacturer">
                        <option selected disabled>Select Model</option>
                    </select>
                    <span asp-validation-for="ModelId" class="text-danger"></span>
                    <a asp-controller="mngvehicles" asp-action="index" class="btn-link" id="newMake">Create New</a>
                </div>
                <div class="form-group">
                    <label asp-for="Year" class="control-label">Year</label>
                    <input asp-for="Year" class="form-control" placeholder="Year" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

            </form>
            <br />
            <br />

            <a asp-action="Index" type="btn submit" class="btn btn-primary btn-lg">
                Back To EZCustomers
            </a>
        </div>

    </div>
</body>
</html>


@section Scripts {

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script></script>
    <script>
        $(document).on("click", "#newMake",
            function (res) {
                $("#form-modal-make").modal();
            });
        console.log("testing");
    </script>
    @*<script>
            $(document).ready(function () {
                $('#newModel').hide();
                $('#Make').change(function () {
                    if ($('#Make').val() == "0") {

                        $('#newModel').hide();
                    }
                    else {
                        $('#newModel').show();
                        $(document).on("click", "#newModel",
                            function (res) {
                                $("#form-modal-model").modal();
                            });
                    }
                });
            });
        </script>*@
    @*<script>
            $('.select2').select2();
        </script>*@
    <script>
        $(document).ready(function () {
            var MakeDDL = $("#Make");
            var ModelDDL = $("#Model");
            ModelDDL.prop('disabled', true);
            MakeDDL.change(function () {
                if ($(this).val() == "0") {
                    //console.log("test");
                    ModelDDL.prop('disabled', true);
                    ModelDDL.val("0");
                }
                else {
                    var id = $(this).val();
                    //console.log(id);
                    //console.log("id");
                    //console.log(`http://localhost:5000/MngVehicles/ManufacturerModels/` + id),
                    $.ajax({
                        url: `http://localhost:5000/MngVehicles/ManufacturerModels/` + id,
                        dataType: 'json',
                        success: function (data) {
                            //console.log(data);
                            ModelDDL.prop('disabled', false);
                            ModelDDL.empty();
                            ModelDDL.append($('<option/>', { value: '0', text: 'Select Model' }));
                            $(data).each(function (item) {
                                //let result = item.toString();
                                ////console.log(item.Name);
                                console.log(data[item].text);
                                ModelDDL.append($('<option/>', { value: data[item].text, text: data[item].value }));
                            });
                        }
                    });
                }
            });

        });
    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}