﻿@model MngCustomersIndexViewModel
@{
    ViewData["Title"] = "EZCustomers";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h3>Are you sure you want to delete this customer?</h3>
    <div>
        <hr />
        <table class="table table-info table-dark">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserViewModel.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserViewModel.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserViewModel.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserViewModel.Email)
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.UserViewModel.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.UserViewModel.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.UserViewModel.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.UserViewModel.Email)
                    </td>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th class="col-sm-2">
                        ModelId
                    </th>

                    <th class="col-sm-2">
                        Model
                    </th>

                    <th class="col-sm-2">
                        ManufacturerId
                    </th>

                    <th class="col-sm-2">
                        Manufacturer
                    </th>

                    <th class="col-sm-2">
                        RegistrationPlate
                    </th>
                    <th class="col-sm-2">
                        Year
                    </th>
                    <th class="col-sm-2">
                        VIN
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserViewModel.Vehicles)
                {



                    <tr>
                        <td>
                            @Html.DisplayFor(x => item.ModelId)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.ManufacturerId)
                        </td>

                        <td>
                            @Html.DisplayFor(x => item.Manufacturer)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.RegistrationPlate)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.VIN)
                        </td>
                    </tr>


                }
            </tbody>
        </table>
        </table>

        <form asp-action="DeleteForm" asp-route-id="@Model.UserViewModel.Id">
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>

        </form>
        <a asp-action="Index" type="btn submit" class="btn btn-primary btn-lg">
            Back To EZCustomers
        </a>
    </div>
</body>
</html>