﻿@model EZGarage.Web.Models.MngCustomersModels.MngCustomersIndexViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="tab-pane" role="tabpanel">
        <a type="button" class="btn btn-primary btn-lg btn-block" asp-action="Edit" asp-route-id="@Model.UserViewModel.Id">Edit</a>
    </div>
    <div>
        <hr />
        <table class="table table-info table-dark">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserViewModel.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserViewModel.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserViewModel.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserViewModel.Email)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.UserViewModel.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.UserViewModel.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.UserViewModel.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.UserViewModel.Email)
                    </td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th class="col-sm-2">
                        ModelId
                    </th>

                    <th class="col-sm-2">
                        Model
                    </th>

                    <th class="col-sm-2">
                        ManufacturerId
                    </th>

                    <th class="col-sm-2">
                        Manufacturer
                    </th>

                    <th class="col-sm-2">
                        RegistrationPlate
                    </th>
                    <th class="col-sm-2">
                        Year
                    </th>
                    <th class="col-sm-2">
                        VIN
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserViewModel.Vehicles)
                {



                    <tr>
                        <td>
                            @Html.DisplayFor(x => item.ModelId)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.ManufacturerId)
                        </td>

                        <td>
                            @Html.DisplayFor(x => item.Manufacturer)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.RegistrationPlate)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.VIN)
                        </td>
                    </tr>


                }
            </tbody>
        </table>
    </div>
    <div>


    </div>
    </br>
    <div>
        <a asp-action="Index" type="btn submit" class="btn btn-primary btn-lg">
            Back To EZCustomers
        </a>
    </div>
</body>
</html>
