﻿@model UserDetailedViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    @if (TempData["IsEdit"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["IsEdit"].ToString()
        </div>

    }
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger">

                </div>

                @*<div>
                        <hr />
                        @if (TempData["IsEdit"] != null)
                        {
                            <table class="table table-info tavle-dark">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Id)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LastName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Phone)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.RoleId)
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.DisplayFor(model => model.Id)
                                        </th>
                                        <th>
                                            @Html.DisplayFor(model => model.FirstName)
                                        </th>
                                        <th>
                                            @Html.DisplayFor(model => model.LastName)
                                        </th>
                                        <th>
                                            @Html.DisplayFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayFor(model => model.Phone)
                                        </th>
                                    </tr>
                                </thead>
                            </table>}
                    </div>*@
               
                <div class="form-group">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                
                <div class="form-group">

                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index" type="btn submit" class="btn btn-primary btn-lg">
            Back To EZCustomers
        </a>
    </div>

</body>
</html>
