﻿@model MngCustomersIndexViewModel


<style>
    .list-group-container {
        display: flex;
    }

    .form-control-inline {
        min-width: 0;
        width: fit-content();
        display: inline;
    }

    .parentElement:nth-child(1) {
        width: 25px;
    }


    th {
        cursor: pointer;
    }

</style>
<link rel="stylesheet" href="~/css/search.css" type="text/css" />

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>

    @if (TempData["IsAdded"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["IsAdded"].ToString()
        </div>
    }
    @if (TempData["IsDeleted"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["IsDeleted"].ToString()
        </div>
    }
    @if (TempData["IsEdit"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["IsEdit"].ToString()
        </div>
    }
    @if (TempData["IsCreated"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["IsCreated"].ToString()
        </div>
    }


    <div class="tab-pane" id="tab2" role="tabpanel" style="margin-bottom:1%">
        <a type="button" class="btn btn-secondary btn-lg btn-block" asp-controller="account" asp-action="ForgottenPassword">Recover Customer Password</a>
    </div>
    <div class="tab-pane" id="tab3" role="tabpanel">
        <a type="button" class="btn btn-primary btn-lg btn-block" asp-controller="mngcustomers" asp-action="Create">Register New Customer</a>
    </div>
    <br />
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search">
    @if (Model != null)
    {


        var isSingleInBundle = Model.UserViewModel != null;
        var areMultpleInBundle = Model.UsersViewModels != null;
        var user = Model.UserViewModel;
        var users = Model.UsersViewModels;


        <div class="result-container">
            <table class="table table-striped table-dark result-table-multiple">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">User ID</th>
                        <th onclick="sortTable(1)">Names </th>
                        <th onclick="sortTable(2)">Phone</th>
                        <th onclick="sortTable(3)">Email</th>
                    </tr>
                </thead>
                <tbody id="myTableBody">
                    @{
                        foreach (var instance in users)
                        {
                            <tr>
                                <td>
                                    @instance.Id
                                </td>
                                <td>
                                    @instance.Name
                                </td>
                                <td>
                                    @instance.Phone
                                </td>
                                <td>
                                    @instance.Email
                                </td>
                                <td>
                                    <a type="button" class="btn btn-info" asp-controller="mngcustomers" asp-action="addvehicle" asp-route-id="@instance.Id">Add Vehicle</a>
                                    <a type="button" class="btn btn-primary" asp-controller="mngvehicles" asp-action="vehicles" asp-route-id="@instance.Id">Vehicles</a>
                                    <a type="button" class="btn btn-secondary" asp-controller="mngvisits" asp-action="GetCustomerVisits" asp-route-id="@instance.Id">Visits</a>
                                    <a type="button" class="btn btn-light" asp-action="Edit" asp-route-id="@instance.Id"> Edit</a>
                                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@instance.Id">Details</a>
                                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@instance.Id">Delete</a>
                                </td>

                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>

    }

    <div>
        <a type="button" class="btn btn-primary btn-lg" asp-controller="home" asp-action="index">
            Back to Home
        </a>
    </div>
</body>
</html>


<script src="~/js/site.js"></script>

