﻿@model MngVehiclesIndexVM


<style>
    .list-group-container {
        display: flex;
    }

    .entitled {
        font-size: 1.25em;
    }

    .search-field {
        flex-grow: 1;
        height: 45px;
    }


    th:hover {
        cursor: pointer;
    }
</style>
<link rel="stylesheet" href="~/css/search.css" type="text/css" />


@{
    var areMultpleInBundle = Model.VehicleVMs != null;
    var isSingleInBundle = Model.VehicleVM != null;
    var vehicles = Model.VehicleVMs;

    if (Model.Context == "deletesuccess")
    {
        <div class="alert alert-success" role="alert">
            Vehicle deleted successfully
        </div>
    }
    else if (Model.Context == "modelRegistered")
    {
        <div class="alert alert-success" role="alert">
            Vehicle Model Registered: @Model.Purpose
        </div>
    }
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @if (isSingleInBundle == true)
    {
        <div class="result-container">
            <div class="tab-pane" id="tab3" role="tabpanel">
                <a type="button" class="btn btn-primary btn-lg" asp-controller="MngVehicles" asp-action="CreateNewModel">Create New Model</a>
            </div>

            <br />
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search">
        </div>
    }



    @if (areMultpleInBundle == true)
    {
        <div class="tab-pane" id="tab3" role="tabpanel">
            <a type="button" class="btn btn-primary btn-lg btn-block" asp-controller="MngVehicles" asp-action="CreateNewModel">Create New Model</a>
        </div>
        <br />
        <div class="result-container">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search">
            <table class="table table-striped table-dark result-table-multiple">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">ID</th>
                        <th onclick="sortTable(1)">Model</th>
                        <th onclick="sortTable(2)">Manufacturer</th>
                        <th onclick="sortTable(3)">Owner ID</th>
                        <th onclick="sortTable(4)">Owner name</th>
                        <th onclick="sortTable(5)">Year</th>
                        <th onclick="sortTable(6)">Reg. Plate</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="myTableBody">
                    @foreach (var instance in vehicles)
                    {
                        <tr>
                            <td>
                                @instance.Id
                            </td>
                            <td>
                                @instance.Model
                            </td>
                            <td>
                                @instance.Manufacturer
                            </td>
                            <td>
                                @instance.CustomerId
                            </td>
                            <td>
                                @instance.CustomerName
                            </td>
                            <td>
                                @instance.Year
                            </td>
                            <td>
                                @instance.RegistrationPlate
                            </td>
                            <td>
                                <a type="button" class="btn btn-info" asp-controller="MngVehicles" asp-action="GetVehicleDetails" asp-route-id="@instance.Id">Details</a>
                            </td>
                            <td>
                                <form method="post" asp-controller="MngVehicles" asp-action="EditVehicle" asp-route-id="@instance.Id">
                                    <button type="submit" class="btn btn-secondary">Edit</button>
                                </form>
                            </td>
                            <td>
                                <a type="button" class="btn btn-danger" asp-controller="MngVehicles" asp-action="DeleteVehicleView" asp-route-id="@instance.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else /*will trigger if only 1 vehicle*/
    {

        var vehicle = Model.VehicleVM;
        var purpose = Model.Purpose;

        <table class="table table-striped table-dark result-table-multiple">
            <thead>
                <tr>
                    <th>Vehicle ID</th>
                    <th>Model ID</th>
                    <th>Model</th>
                    <th>Manuf ID</th>
                    <th>Manufacturer</th>
                    <th>Vehicle Type ID</th>
                    <th>Vehicle Type</th>
                    <th>Owner ID</th>
                    <th>Owner name</th>
                    <th>Year</th>
                    <th>Reg. plate</th>
                    <th></th>
                </tr>
            </thead>

            @if (purpose == "details")
            {
                <tbody id="myTableBody">
                    <tr>
                        <td>
                            @vehicle.Id
                        </td>
                        <td>
                            @vehicle.ModelId
                        </td>
                        <td>
                            @vehicle.Model
                        </td>
                        <td>
                            @vehicle.ManufacturerId
                        </td>
                        <td>
                            @vehicle.Manufacturer
                        </td>
                        <td>
                            @vehicle.VehicleTypeId
                        </td>
                        <td>
                            @vehicle.VehicleType
                        </td>
                        <td>
                            @vehicle.CustomerId
                        </td>
                        <td>
                            @vehicle.CustomerName
                        </td>
                        <td>
                            @vehicle.Year
                        </td>
                        <td>
                            @vehicle.RegistrationPlate
                        </td>
                        <td>
                            <form method="post" asp-controller="MngVehicles" asp-action="EditVehicle" asp-route-id="@vehicle.Id">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            }
            @if (purpose == "edit")
            {
                <tbody id="myTableBody">
                    <tr>
                        <td>
                            @vehicle.Id
                        </td>
                        <td>
                            @vehicle.ModelId
                        </td>
                        <td>
                            @vehicle.Model
                        </td>
                        <td>
                            @vehicle.ManufacturerId
                        </td>
                        <td>
                            @vehicle.Manufacturer
                        </td>
                        <td>
                            @vehicle.VehicleTypeId
                        </td>
                        <td>
                            @vehicle.VehicleType
                        </td>
                        <td>
                            @vehicle.CustomerId
                        </td>
                        <td>
                            @vehicle.CustomerName
                        </td>
                        <td>
                            @vehicle.Year
                        </td>
                        <td>
                            <form id="edit-form" asp-controller="MngVehicles" asp-action="EditVehicle">
                                <input type="text" class="form-control" id="floatingInput" placeholder="@vehicle.RegistrationPlate" name="regPlate">
                            </form>
                        </td>
                        <td>
                            <button type="submit" form="edit-form" class="btn btn-primary">Submit</button>
                        </td>
                    </tr>
                </tbody>

            }
            @if (purpose == "delete")
            {
                <tbody id="myTableBody">
                    <tr>
                        <td>
                            @vehicle.Id
                        </td>
                        <td>
                            @vehicle.ModelId
                        </td>
                        <td>
                            @vehicle.Model
                        </td>
                        <td>
                            @vehicle.ManufacturerId
                        </td>
                        <td>
                            @vehicle.Manufacturer
                        </td>
                        <td>
                            @vehicle.VehicleTypeId
                        </td>
                        <td>
                            @vehicle.VehicleType
                        </td>
                        <td>
                            @vehicle.CustomerId
                        </td>
                        <td>
                            @vehicle.CustomerName
                        </td>
                        <td>
                            @vehicle.Year
                        </td>
                        <td>
                            @vehicle.RegistrationPlate
                        </td>
                        <td>
                            <form asp-controller="MngVehicles" asp-action="DeleteVehicleConfirmed" asp-route-id="@vehicle.Id">
                                <button type="submit" class="btn btn-danger">Delete</button>

                            </form>
                        </td>
                    </tr>
                </tbody>

            }

        </table>
        if (Model.Context == "editsuccess")
        {
            <div class="alert alert-success" role="alert">
                Vehicle edited successfully
            </div>
        }

        if (Model.Context == "confirmdelete")
        {
            <div class="alert alert-warning" role="alert">
                You are about to delete this vehicle
            </div>
        }


    }


    @if (Model.Context == null && Model.Purpose == null)
    {
        <div>
            <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index">
                Back to Home
            </a>
            <a asp-controller="mngcustomers" asp-action="Index" class="btn btn-info btn-lg">
                Back To Customers
            </a>
        </div>
    }
    else
    {
        <div>
            <a class="btn btn-primary btn-lg" asp-controller="MngVehicles" asp-action="Index">
                Back to EZVehicles
            </a>
        </div>

    }

</body>
</html>
<script src="~/js/site.js"></script>
