﻿@model RegisterNewModelVM
@{ var manufacturers = Model.Manufacturers;
    var message = Model.Message; }

<div class="alert alert-primary" role="alert">
    Create new model. Fields are required.
</div>
@{ 
    if (message != null)
    {
        if (message == "manufSuccess")
        {
        <div class="alert alert-success" role="alert">
            Manufacturer registered
        </div> 
        }
        else
        {
        <div class="alert alert-danger" role="alert">
            @message
        </div> 
        }
    } 
}

<form id="create-model" method="post" asp-controller="MngVehicles" asp-action="RegisterNewModel">
    <table class="table table-striped table-dark result-table-multiple">
        <thead>
            <tr>
                <th>Model Name</th>
                <th>Manufacturer ID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="form-floating mb-3">
                    <input type="text" class="form-control"  placeholder="Model Name" name="modelName">
                </td>
                <td class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="Manufacturer ID" name="manufacturerID">
                </td>
                <td>
                    <button type="submit" form="create-model" class="btn btn-primary">Register New Model</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<form id="create-manufacturer" method="post" asp-controller="MngVehicles" asp-action="RegisterNewManufacturer">
    <table class="table table-striped table-dark result-table-multiple">
        <thead>
            <tr>
                <th>Manufacturer Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Manufacturer name" name="manufacturerName">
                </td>
                <td>
                    <button type="submit" form="create-manufacturer" class="btn btn-primary">Register new manufacturer</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Manufacturer
                </th>
            </tr>
            @foreach (var manufacturer in manufacturers)
            {
            <tr>
                <td>
                    @manufacturer.Id
                </td>
                <td>
                    @manufacturer.Name
                </td>
            </tr>
            }
        </tfoot>
    </table>
</form>