﻿@{
    var hasUnsuccessfulAttempt = Context.Session.GetString("logintry") == "unsuccessful";
}
<style>
    #wrong-credentials-popup {
        color: red;
    }
</style>

@if (TempData["IsSent"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["IsSent"].ToString()
    </div>
}
<div>
    <form method="post" asp-controller="Account" asp-action="ForgottenPassword">
        <div class="form mb-3">
            <label for="floatingInput">User Email</label>
            <input type="email" class="form-control" placeholder="name@example.com" name="email">
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-primary btn-lg">Recover Password</button>
        </div>
    </form>
</div>