﻿@{
    var hasUnsuccessfulAttempt = Context.Session.GetString("logintry") == "unsuccessful";
}
<style>
    #wrong-credentials-popup{
        color:red;
    }
</style>

<div>
    <form method="post" asp-controller="Account" asp-action="Login">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="password" name="password">
        </div>
        @if (hasUnsuccessfulAttempt)
        {
            <h6 id="wrong-credentials-popup">
                Invalid username or password
            </h6>

            <a asp-controller="Account" asp-action="ForgottenPassword">
                <h6>
                    Forgotten?
                </h6>
            </a>
        }
        <br />
        <div>
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </div>
    </form>
</div>

