﻿
@if (TempData["IsReset"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["IsReset"].ToString()
    </div>
}

<div>
    <form method="post" asp-controller="Account" asp-action="ResetPassword">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" placeholder="name@example.com" name="email">
        </div>
        <br />
        <div class="form-floating mb-3">
            <input class="form-control" placeholder="Activation code" name="activationCode">
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"></label>
            <input class="form-control" placeholder="New password" name="newPassword">
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
        </div>
    </form>
</div>