﻿@{
    ViewData["Title"] = "About Us";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .checked {
        color: chartreuse;
    }
    .card {
        display: inline-block;
    }
</style>
<div class="text-center">
    <h2>See what EZCustomers have to say</h2>
</div>

<div class="container">
    <div class="col-sm-12">
        <div class="card bg-dark mb-3 mt-3 mr-5" style="width:250px; margin-left: 230px;">
            <img class="card-img-top" src="~/images/obi_bike.jpg" alt="kenobi">
            <div class="card-body">
                <h4 class="card-title">Obi-Wan Kenobi</h4>
                <p class="card-text">
                    EZGarage makes my life EZ. The only place I trust for maintaining my Panigale. What I like the most about EZGarage is the fact their expertise and attention to detail.
                    They always restore the balance in my wheels. And force.<br />
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </p>
                <a asp-controller="ContactUs" asp-action="Index" class="btn btn-primary">Become an EZCustomer</a>
            </div>
        </div>
        <div class="card bg-dark mb-3 mt-3 ml-5" style="width:250px;">
            <img class="card-img-top" src="~/images/anakin_lambo.jpg" alt="anakin">
            <div class="card-body">
                <h4 class="card-title">Anakin Skywalker</h4>
                <p class="card-text">
                    Lambo-mercy-lago, to EZ I go, they fix it pronto. I am always satisfied with the customer service. The staff is absolutely fantastic, they take great care of my car and deliver up to the highest of standards.
                    The force is defo strong with these guys. Thanks, EZ!<br />
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </p>
                <a asp-controller="ContactUs" asp-action="Index" class="btn btn-primary">Become an EZCustomer</a>
            </div>
        </div>
    </div>
</div>