﻿@model ContactFormInputModel
@{
    ViewData["Title"] = "Contact Us";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @if (TempData["IsSent"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["IsSent"].ToString()
        </div>
    }
    <h4>Crashed your Lambo? Want to become an EZCustomer? Send us your enquiry and an EZPro will get back to you ASAP.</h4>
    <div class="container">

        <form asp-controller="ContactUs" asp-action="Contact">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <input asp-for="Names" class="form-control" placeholder="Your names">
                <span asp-validation-for="Names" class="text-danger">

                </span>
            </div>
            <div class="form-group">
                <input asp-for="PhoneNumber" class="form-control" placeholder="Your phone" />
                <span asp-validation-for="PhoneNumber" class="text-danger">

                </span>
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Your email">
                <span asp-validation-for="Email" class="text-danger">

                </span>
            </div>
            <div class="form-group">
                <input asp-for="Body" class="form-control" placeholder="You enquiry to EZGarage goes here" style="height:200px">
                <span asp-validation-for="Body" class="text-danger">

                </span>

            </div>
            <div class="form-group">
                <input type="submit" value="Contact" class="btn btn-primary" />
            </div>
            @*<a asp-action="Contact" type="button" class="btn btn-primary">Contact</a>*@

        </form>
    </div>
    <div>
        <a type="submit" class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index">
            Back To Home
        </a>
    </div>
</body>
</html>


