﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    var imgSrc = Context.Session.GetString("viewMode") == "employee" ? "https://ezgarage.blob.core.windows.net/images/A.png" : "https://ezgarage.blob.core.windows.net/images/B.png";
}

<style>
    body {
        background-image: none
    }

    #pic-wrapper {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-content: center;
    }

        #pic-wrapper img {
            align-self: center;
            height: 60%;
            width: 60%;
        }

    #paragraph-wrapper {
        display: flex;
        flex-direction: column;
    }

    #button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .text-danger {
        align-self: center;
    }
</style>

<div>
    <div id="paragraph-wrapper">
        <h1 class="text-danger">Wrong turn there </h1>
        <h2 class="text-danger">@ViewData["ErrorCode"]</h2>

    </div>


    <div id="pic-wrapper">
        <img src=@imgSrc />
    </div>
    <div id="button-wrapper">
        <form asp-controller="Home" asp-action="Index">
            <button type="submit" class="btn btn-primary btn-lg">
                Back To Home
            </button>
        </form>
    </div>

    @*@if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <h3>Development Mode</h3>
    <p>
        Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
    </p>
    <p>
        <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
        It can result in displaying sensitive information from exceptions to end users.
        For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
        and restarting the app.
    </p>*@
</div>
