﻿@{
    var sessionUserRole = Context.Session.GetString("role");
    var isUserLogged = sessionUserRole != null;

    var isEmployeeMode = Context.Session.GetString("viewMode") == "employee";
}


<style>
    #homepage-buttons {
        display: flex;
        margin: 15px;
    }

    #formButton {
        margin: 15px;
    }

    #loginButton {
        margin: 15px;
    }

    .container {
        position: relative;
    }

    .child {
        width: 50px;
        height: 50px;
        /* Center vertically and horizontally */
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
    }
</style>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="justify-content-center">
        @if (isEmployeeMode == false)
        {
            <div class="card-body justify-content-center container-fluid" style="background-color: black; opacity: 0.8; width: 550px; text-align: center; align-self: center;">
                <img class="container" src="https://ezgarage.blob.core.windows.net/logotrasnparent/logo_verticalslim_normal.png" alt="EZGarage" style="align-content:center;">
                <h3 class="card-text font-weight-bold" style="color: #08ED30">Your toy needs a fix? EZ. We got you.</h3>
            </div>
            <h4 style="text-align:center;">
                The high-end vehicle repair shop you want and need. We have the tools and skills to service your Aston Martin, Lamborghini, Ducati,
                McLaren, Ferrari, Porsche, Maserati and Koenigsegg. Nothing more, nothing less.
            </h4>
        }
        else
        {
            <div class="card-body justify-content-center container-fluid" style="background-color: black; opacity: 0.8; width: 550px; text-align: center; align-self: center;">
                <img class="container" src="https://ezgarage.blob.core.windows.net/logotrasnparent/logo_verticalslim_employee.png" alt="EZGarage" style="align-content:center;">
                <h3 class="card-text font-weight-bold" style="color: #10c9c9">
                    Your toy needs a fix? EZ. We got you.
                </h3>
            </div>
            <h4 style="text-align:center;">
                The high-end vehicle repair shop you want and need. We have the tools and skills to service your Aston Martin, Lamborghini, Ducati,
                McLaren, Ferrari, Porsche, Maserati and Koenigsegg. Nothing more, nothing less.
            </h4>
        }
        <br />
        @if (isUserLogged == false)
        {
            <form id="homepage-buttons">
                <div class="container-fluid col-md-7">
                    <button method="post" asp-controller="Account" asp-action="Index" type="submit" class="btn btn-primary btn-lg ml-5" id="login-button">EZCustomer Login</button>
                    <button method="get" asp-controller="ContactUs" asp-action="Index" type="submit" class="btn btn-secondary btn-lg ml-5" id="form-button">Become an EZCustomer</button>
                </div>
            </form>
        }
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container-fluid" style="background-color: black; opacity: 0.8;">
        <h1 class="text-center">We are here for you:</h1>
        <hr>
        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.327671965859!2d23.330581251071997!3d42.696782121660334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8570c4616277%3A0xbc3f0e3f6a11784f!2sul.%20%22Moskovska%22%2042%2C%201000%20Sofia%20Center%2C%20Sofia!5e0!3m2!1sen!2sbg!4v1622659185623!5m2!1sen!2sbg"
                    width="100%" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="row text-center">
            <div class="col-4 box1 pt-4">
                <a href="tel:+888424242">
                    <i class="fas fa-phone fa-3x"></i>
                    <h3 class="d-none d-lg-block d-xl-block">Phone</h3>
                    <p class="d-none d-lg-block d-xl-block">+888424242</p>
                </a>
            </div>
            <div class="col-4 box2 pt-4">
                <a href="https://goo.gl/maps/FrNGx6K9ZmmRB4h37">
                    <i class="fas fa-home fa-3x"></i>
                    <h3 class="d-none d-lg-block d-xl-block">Address</h3>
                    <p class="d-none d-lg-block d-xl-block">Moskovska Street 42, 1000 Sofia BG</p>
                </a>
            </div>
            <div class="col-4 box3 pt-4">
                <a href="mailto:ezgaragecustomerservice.com">
                    <i class="fas fa-envelope fa-3x"></i>
                    <h3 class="d-none d-lg-block d-xl-block">Email</h3>
                    <p class="d-none d-lg-block d-xl-block">ezgaragecustomerservice@gmail.com</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>