﻿@model ServiceItemViewModel
@{
    ViewData["Title"] = "Services";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <input asp-for="Name" placeholder="Name" />
            </div>
            <div class="form-group">
                <input asp-for="Price" placeholder="Price" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<a type="button" class="btn btn-secondary" asp-action="Index">Back to Services</a>