﻿@model EZGarage.Web.Models.ServiceItemModels.ServiceItemViewModel
@{
    ViewData["Title"] = "Services";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
        </dl>

        <form asp-action="DeleteForm" asp-route-id="@Model.Id">
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
            <a asp-action="Index">Back to Services</a>
        </form>
    </div>
</body>
</html>
