﻿@model EZGarage.Web.Models.ServiceItemModels.ServiceItemViewModel

@{
    var isEmployeeLogged = Context.Session.GetString("viewMode") == "employee";
}
@{
    ViewData["Title"] = "Services";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <hr />
        <table class="table table-info table-dark">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Id)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => Model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Price)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        @if (isEmployeeLogged)
        {
            <a type="button" class="btn btn-light" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        }
        <a type="button" class="btn btn-primary" asp-action="Index">Back to Services</a>
    </div>
</body>
</html>
