﻿@model EZGarage.Web.Models.ServiceItemModels.ServiceItemViewModel
@{
    ViewData["Title"] = "Services";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h4>ServiceItemViewModel</h4>
    <hr />
    @if (Model.IsSuccessful)
    {
        <div class="alert alert-primary" role="alert">
            Service successfully edited
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>*@
                @*<div>
                    <hr />
                    <table class="table table-info table-dark">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Price
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Id)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => Model.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Price)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>*@
                <h4>If you wish to edit the name of this service, enter the new name below.</h4>
                <div class="form-group">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <h4>If you wish to edit the price of a service, a new service item will be created.</h4>
                <div class="form-group">
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to Services</a>
    </div>

</body>
</html>
