﻿@model ServiceItemsViewModel
@{
    ViewData["Title"] = "Services";
}

@{
    var isEmployeeLogged = Context.Session.GetString("viewMode") == "employee";
}


<style>
    th:hover {
        cursor: pointer;
    }
</style>

<link rel="stylesheet" href="~/css/search.css" type="text/css" />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

    @if (isEmployeeLogged)
    {
        <p>
            <a type="button" class="btn btn-primary btn-lg btn-block" asp-action="Create">Create New Service</a>
        </p>
    }
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                @if (isEmployeeLogged)
                {
                    <th onclick="sortTable(0)">
                        Id
                    </th>
                    <th onclick="sortTable(1)">
                        Service
                    </th>
                    <th onclick="sortTable(2)">
                        Prices start from
                    </th>
                }
                @if (isEmployeeLogged == false)
                {
                    <th onclick="sortTable(0)">
                        Service
                    </th>
                    <th onclick="sortTable(1)">
                        Price
                    </th>
                }

                <th></th>
            </tr>
        </thead>
        <tbody id="myTableBody">
            @foreach (var item in Model.Services)
            {
                <tr>
                    @if (isEmployeeLogged)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price) BGN
                        </td>
                        <td>
                            <a type="button" class="btn btn-light" asp-action="Edit" asp-route-id="@item.Id"> Edit</a>
                            <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                    @if (isEmployeeLogged == false)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price) BGN
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a type="submit" class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index">
            Back to Home
        </a>
    </div>
</body>

</html>

<script src="~/js/site.js"></script>
